@model webshop.Models.Product

@{
    ViewBag.Title = "Product Details";
}


<div class="col-md-6">
    <!----details-product-slider--->
    <script>
        jQuery(document).ready(function ($) {
            $('#etalage').etalage({
                thumb_image_width: 250,
                thumb_image_height: 250,
                source_image_width: 900,
                source_image_height: 1000,
                show_hint: true,
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });
        });
    </script>
    <!----//details-product-slider--->
    <div>
        <div>
            <ul id="etalage">
                <li>
                    <img class="etalage_thumb_image" src="@Model.PictureUrl" />
                    <img class="etalage_source_image" src="@Model.PictureUrl" />
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="product-price-details">
        <p class="text-right">
            <h2>
                @Html.DisplayFor(model => model.Name)
            </h2>
            @Html.DisplayFor(model => model.Description)
        </p>

        <div class="clearfix"> </div>
        <div class="product-price-qty">
            <div class="product-price">
                <span>€ @Html.DisplayFor(model => model.Price)</span>
            </div>
            <div class="pro-qty">
                <span>Qty:</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <div class="product-cart">
            <div class="add-cart-btn">
                <input type="button" value="Add to cart" />
            </div>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
@if (Request.IsAuthenticated && User.IsInRole("ShopAdmin"))
{
    @Html.ActionLink("Back to List", "Index")
}