@model IEnumerable<webshop.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h1>De laatste nieuwe producten in onze collectie!</h1>
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="thumbnail frontpageItem">
                <div class="thumbnail-image">
                    <a href="@Url.Action("details", "Products")?id=@product.ID"><img class="" alt="@product.Name" src="@product.PictureUrl" height="350" /></a>
                </div>

                <div class="caption">
                    <div class="caption-title">
                        <a href="@Url.Action("details", "Products")?id=@product.ID"><h3>@product.Name</h3></a>
                    </div>
                    <div class="product-price caption-price">
                        <span>€@product.Price</span>
                    </div>
                    <div class="caption-description">
                        @product.Description
                    </div>
                    @*<div class="clearfix"> </div>
                        <div class="caption-button">
                            @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { productId = @product.ID }, new { @class = "btn btn-primary btn-md" })
                        </div>*@
                </div>
            </div>
        </div>
    }
</div>