@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Usermanagement</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

@if (ViewBag.ResultMessage != null)
{
    <p class="text-info">@ViewBag.ResultMessage</p>
}
<hr />

<h3>View user role(s)</h3>
@using (Html.BeginForm("GetRoles", "Role"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.TextBox("UserName")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    if (ViewBag.RolesForThisUser.Count == 0)
    {
        <p>No roles for this user</p>
    }
    else
    {

        <div>
            <p>Role(s) for this user </p>
            <ul>
                @foreach (string s in ViewBag.RolesForThisUser)
                {

                    <li>@s</li>
                }
            </ul>
        </div> }
}
<hr />

<h2>Update user role</h2>

@using (Html.BeginForm("RoleAddToUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Save" />
}

<hr />
<h3>Delete user role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Delete this user from Role" />

}